.loader-container {
  width: 80vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tre {
  overflow: auto;
  height: 90vh;
  width: 85vw;
  margin: 0;
}
.icon-fire {
  color: red;
  margin-right: 10px;
}
.final-h {
  overflow: hidden;
  background-color: blue;
}
.trend-list-container-1 {
  list-style-type: none;
}
